<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <title>RESTful Todo</title>
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item">RESTful Todo</div>

      <div class="right menu">
        <% if (!currentUser) { -%>
          <a href="/users/new" class="ui item">Register</a>
          <a href="/sessions" class="ui item">Log In</a>
        <% } else { -%>
          <a href="" class="ui item"><%= currentUser.username %></a>
          <a href="/logout" class="ui item">Log Out</a>
        <% } -%>
      </div>
    </div>
  </div>
