<% include ../partials/header %>


<div class="ui main text container segment">
  <form action="/users" method="POST" class="ui form">
    <h1 class="ui huge header">Register</h1>
    <div class="field">
      <label>First Name:</label>
      <input type="text" name="user[firstName]" placeholder="first name">
    </div>

    <div class="field">
      <label>Last Name:</label>
      <input type="text" name="user[lastName]" placeholder="last name">
    </div>

    <div class="field">
      <label>Username:</label>
      <input type="text" name="user[username]" placeholder="username">
    </div>

    <div class="field">
      <label>Password:</label>
      <input type="text" name="user[password]" placeholder="password">
    </div>

    <input class="ui inverted green button" type="submit" >
  </form>
</div>

<% include ../partials/footer %>