<% include ./partials/header %>

<form action="/todos" method="POST">
  <input type="text" name="todo[post]" placeholder="enter a thing todo">
  <input type="submit">
</form>

<% include ./partials/footer %>