<% include ../partials/header %>

<div class="ui main text container segment">
  <h1 class="ui huge header">Enter a Todo</h1>

  <form action="/todos" method="POST" class="ui form">
    <div class="field">
      <input type="text" name="todo[post]" placeholder="enter a thing todo">
    </div>

    <div class="field">
      <input class="ui inverted green button" type="submit">
    </div>
  </form>
</div>

<% include ../partials/footer %>